/*
    Font Style
*/

@font-face {
    font-family: "Bella";
    src: url('../fonts/Bella.ttf');
}

.containerAboutMe{
    padding: 150px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;    
}

.containerAboutMe .aboutMeH1{
    font-family: 'Bella';
    font-size: 3rem;
}

.containerAboutMe .aboutMePar{
    margin-top: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.containerAboutMe .containerAboutButton{
    margin-top: 80px;
}

.containerAboutMe .aboutMeButton{    
    background-color: yellowgreen;
    font-family: 'Bella';
    padding: 25px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in;
}

.containerAboutMe .aboutMeButton:hover{
    color: white;
    background-color: black;
}